= f.fields_for :blog do |blog|
  %ol.fields
    %li.textarea
      = blog.label :excerpt
      .editor-container
        = blog.text_area :excerpt, :class => 'editor'
    %li.textarea
      = blog.label :article
      .editor-container
        = blog.text_area :article, :class => 'editor'
