%div{ :class => row_class(page) }
  = link_to page.title, edit_admin_page_path(page)
  = "(Homepage)" if page.homepage?
  .actions
    - unless page.homepage?
      = link_to 'Delete Page', admin_page_path(page, :format => :js), :class => :delete
      - unless page.blog_entry?
        |
        = link_to 'New Sub-Page', new_admin_page_path(:parent_id => page.id), :remote => true, :method => :get, 'data-type' => :html
        |
        = link_to 'Reorder Page', '#move', :class => 'reorder' 
