%h2 Edit Page
= form_for [:admin, resource], :html => {:id => 'page-form', :multipart => true} do |f|
  .large-title
    = f.label :title, 'Page Title'
    = f.text_field :title
  %p#permalink<
    = "http://#{current_site.domain}"
    = editable_permalink(resource)
  %ol.fields
    = render :partial => 'admin/fields/item', :collection => resource.template.fields, :as => :field
  .actions
    .action-buttons
      = link_to 'Back to Pages', admin_pages_path
      = f.submit
