%h2 Edit Page
= form_for [:admin, resource], :html => {:id => 'page-form'} do |f|
  .large-title
    = f.label :title, 'Page Title'
    = f.text_field :title
  %ol.fields
    = render :partial => 'admin/fields/item', :collection => resource.template.fields, :as => :field
  .actions
    = link_to 'Back to Pages', admin_pages_path
    = f.submit
