#login
  = form_for resource, :as => resource_name, :url => session_path(resource_name) do |f|
    %h2 Sign In
    %fieldset
      = f.label :login
      = f.text_field :login
    %fieldset
      = f.label :password
      = f.password_field :password
    %fieldset#remember-me
      = f.check_box :remember_me
      = f.label :remember_me
    %div
      = f.submit 'Sign In'
