%header
  .container
    %h1 Magnetism
    %ul#settings
      %li= link_to current_user.name, '#'
      %li= link_to 'Logout', logout_path
  #mainNav
    .container
      %ul.tab-collection
        %li= link_to 'Dashboard', user_root_path, :class => 'tab'
        %li= link_to 'Pages', admin_pages_path, :class => 'tab'
        /%li= link_to 'Assets', admin_assets_path, :class => 'tab'
        %li= link_to 'Manage', admin_manage_path, :class => 'tab'
      - if Site.count > 1
        = render :partial => 'admin/shared/selector', :locals => { :id => 'site-selector',
          :name => current_site.name,
          :selector_collection => site_selector_collection }
