%aside
  %h2.toggle-sibling.blue-header Pages
  %ul{ :id => "template-type-#{TemplateType.page.id}" }= render :partial => 'admin/templates/item', :collection => page_collection, :as => :template, :locals => { :theme => resource }

  %h2.toggle-sibling.blue-header Snippets
  %ul{ :id => "template-type-#{TemplateType.snippet.id}" }= render :partial => 'admin/templates/item', :collection => snippet_collection, :as => :template, :locals => { :theme => resource }

  %h2.toggle-sibling.blue-header Stylesheets
  %ul{ :id => "template-type-#{TemplateType.stylesheet.id}" }= render :partial => 'admin/templates/item', :collection => stylesheet_collection, :as => :template, :locals => { :theme => resource }

  %h2.toggle-sibling.blue-header JavaScripts
  %ul{ :id => "template-type-#{TemplateType.javascript.id}" }= render :partial => 'admin/templates/item', :collection => javascript_collection, :as => :template, :locals => { :theme => resource }

  #template-sets= render :partial => 'admin/template_sets/item', :collection => blog_collection, :as => :template_set, :locals => { :theme => resource }
  #new-template= render :partial => 'admin/shared/selector', :locals => { :name => 'New Template', :id => 'new-template-selector', :open_direction => 'up', :selector_collection => new_template_collection }
