!!!html5
%html
  %head
    %title Magnetism
    = javascript_include_tag '/admin/javascripts/jquery'
    = javascript_include_tag '/admin/javascripts/jquery-ui'
    = javascript_include_tag '/admin/javascripts/rails'
    = javascript_include_tag '/admin/javascripts/application'
    = section_javascript_include_tag

    = stylesheet_link_tag '/admin/stylesheets/application'
    = section_stylesheet_link_tag
    = csrf_meta_tag
  %body
    = render 'admin/header'
    %section
      .container
        #content
          - unless flash.empty?
            %div{:class => flash.keys.first}= flash.values.first

          = yield
    = render 'admin/footer'
