!!!html5
%html
  %head
    %title Magnetism
    = javascript_include_tag '/admin/javascripts/jquery'
    = javascript_include_tag '/admin/javascripts/jquery-ui'
    = javascript_include_tag '/admin/javascripts/rails'
    = javascript_include_tag '/admin/javascripts/application'
    = section_javascript_include_tag

    = stylesheet_link_tag '/admin/stylesheets/application'
    = section_stylesheet_link_tag

    - if @page
      = javascript_include_tag '/admin/javascripts/textile-editor'
      = javascript_include_tag '/admin/javascripts/textile-editor-config'
      = stylesheet_link_tag '/admin/stylesheets/textile-editor'

    = csrf_meta_tag
  %body
    - if flash[:alert]
      %div.alert= flash[:alert]
    - if flash[:notice]
      %div.notice= flash[:notice]

    = render 'admin/header'
    %section
      .container
        #content= yield
    = render 'admin/footer'
