!!!html5
%html
  %head
    %title Magnetism
    = stylesheet_link_tag '/admin/stylesheets/application'
    = section_stylesheet_link_tag
    = csrf_meta_tag
  %body
    - if flash[:alert]
      %p.alert= flash[:alert]
    = yield
